header {
  position: relative;
  background-color: bg-color("purple");
  padding: 15px 0;

  .logo {
    a, img {
      display: block;
      width: 150px;
    }
  }

  .version {
    position: absolute;
    right: 20px;
    top: 24px;
    color: rgba(color("default"), 0.7);
  }
}
