/__utilities__
/exclusive_conf
/exclusive_simples
/eydun_conf
/eydun_images_simples
/eydun_simples
/tag
/test_imgrem
/test_ingrem
/testconf
/CategoryImporter.conf
/ColumnMappingItemProcessor.conf
/Magmi_CSVDataSource.conf
/magmi.ini.remote
/plugins.conf
